alias info='info --vi-keys'
alias ll='ls -hl'
alias lk='ls -hlrt'
alias la='ls -Al'
alias l='ls -CF'

alias ,='cd ..'
alias tarrm='tar --remove-files'
alias term='gnome-terminal --window-with-profile=Ubuntu --geometry 120x30'
alias cim='ssh -Xl scottyb sutton.cim.mcgill.ca'
alias thunder='ssh -Xlroot 209.172.33.229'
alias tburl='ssh -Xlscott 184.107.13.122'
alias openface='ssh -l oneeye abnormal.openface.ca'
alias staging='ssh -lstaging staging'
alias labs='ssh -lburl labs'
alias northam='rdesktop -unortham 72.15.55.149 -g 2048x1280'
alias cira='ssh -lsburlington www01.dev.crp.cira.ca'
alias dux='du --max-depth=1'
alias d='date +%y%m%d'
alias rs='rsync -CPavz'
alias rmsync='rsync --remove-source-files -Pavz'
alias pyrus='php ~/bin/pyrus.phar'
alias weberr='tail -f /var/log/apache2/error.log'
alias ccache='find cache \( -name "*nav*" -o -name "*menu*" \) -exec rm -fv {} \;'

